---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import Hr from "../components/Hr.astro";
import Card from "../components/Card";
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Socials from "../components/Socials.astro";
import getSortedPosts from "../utils/getSortedPosts";
import getSortedExperience from "../utils/getSortedExperience";
import getSortedProjects from "../utils/getSortedProjects";
import { SITE, SOCIALS } from "../config";

const posts = await getCollection("blog");
const experiences = await getCollection("experience");
const projects = await getCollection("projects");

const sortedPosts = getSortedPosts(posts);
const sortedExperience = getSortedExperience(experiences);
const sortedProjects = getSortedProjects(projects);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>infamous</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>

      <p>
        I suffer from a chronic case of "just one more feature" syndrome, which
        somehow led me from Computer Science lectures to founding Startups to
        organizing FOSS meetups. 
        <br></br>
        These days I'm a full-stack engineer who
        compulsively switches between Python, Go, Dart and whatever language or
        Framework seems fun that week. 
        I co-founded Kairo where I built tools
        that helps gather analytics and user feedback from your product,
        organized the FOSS United chapter in Dehradun to spread the open-source
        faith. 
        <br></br>
        When I'm not maintaining opensource projects or speaking at
        conferences, you can find me playing football, reading about new
        technologies and adding another side-project to my "definitely gonna finish this" collection.
      </p>
      {
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      sortedExperience.length > 0 && (
        <>
          <section id="experience">
            <h2>Experience</h2>
            <ul>
              {sortedExperience.slice(0, 2).map(exp => (
                <ExperienceCard experience={exp} />
              ))}
            </ul>
            <div class="all-posts-btn-wrapper">
              <LinkButton href="/experience/">
                All Experience
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                </svg>
              </LinkButton>
            </div>
          </section>
          <Hr />
        </>
      )
    }

    {
      sortedProjects.length > 0 && (
        <>
          <section id="projects">
            <h2>Projects</h2>
            <ul>
              {sortedProjects.slice(0, 4).map(project => (
                <ProjectCard project={project} />
              ))}
            </ul>
            <div class="all-posts-btn-wrapper">
              <LinkButton href="/projects/">
                All Projects
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                </svg>
              </LinkButton>
            </div>
          </section>
          <Hr />
        </>
      )
    }

    {
      sortedPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {sortedPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Experience, Projects & Recent Posts Sections ===== */
  #experience,
  #projects,
  #recent-posts {
    @apply pb-4 pt-6;
  }
  #experience h2,
  #projects h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-6 text-center;
  }
</style>
